<div class="container-fluid">
    <div class="row-fluid">
        <div class="col-md-10">

            <div class="fl bm">

                <div class="panel panel-primary">
                    <div class="panel-heading">
                        综合区
                    </div>
                    <div class="panel-body">
                        <table class="table">
                            <tbody>
                            <tr>

                                <td>
                                    <div class="fl_icn_g cl" style="width: 1px;">
                                        <a href="/bbs_everythingtotalk"><img
                                                src="/images/bbs_board.png"
                                                alt="" align="left"></a></div>
                                    <dl style="margin-left: 1px;">
                                        <dt>综合讨论</dt>
                                    </dl>
                                </td>
                                <td>
                                    <div class="fl_icn_g cl" style="width: 1px;">
                                        <a href="/bbs_learnfromothers"><img
                                                src="/images/bbs_board.png"
                                                alt="" align="left"></a></div>
                                    <dl style="margin-left: 1px;">
                                        <dt>经验交流</dt>
                                    </dl>
                                </td>
                                <td>
                                    <div class="fl_icn_g cl" style="width: 1px;">
                                        <a href="/bbs_codetoshare"><img
                                                src="/images/bbs_board.png"
                                                alt="" align="left"></a></div>
                                    <dl style="margin-left: 1px;">
                                        <dt>代码片段分享</dt>
                                    </dl>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="panel panel-primary">
                    <div class="panel-heading">
                        专题
                    </div>
                    <div class="panel-body">
                        <table class="table">
                            <tbody>
                            <tr>

                                <td>
                                    <div class="fl_icn_g cl" style="width: 1px;">
                                        <a href="/bbs_forandroid"><img
                                                src="/images/bbs_board.png"
                                                alt="" align="left"></a></div>
                                    <dl style="margin-left: 1px;">
                                        <dt>Android开发专区</dt>
                                    </dl>
                                </td>
                                <td>
                                    <div class="fl_icn_g cl" style="width: 1px;">
                                        <a href="/bbs_forweb"><img
                                                src="/images/bbs_board.png"
                                                alt="" align="left"></a></div>
                                    <dl style="margin-left: 1px;">
                                        <dt>Web开发专区</dt>
                                    </dl>
                                </td>
                                <td>
                                    <div class="fl_icn_g cl" style="width: 1px;">
                                        <a href="/bbs_forwindows"><img
                                                src="/images/bbs_board.png"
                                                alt="" align="left"></a></div>
                                    <dl style="margin-left: 1px;">
                                        <dt>Windows开发专区</dt>
                                    </dl>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="panel panel-primary">
                    <div class="panel-heading">
                        站务管理专区
                    </div>
                    <div class="panel-body">

                        <table class="table">
                            <tbody>
                            <tr>
                                <td>
                                    <div class="fl_icn_g cl" style="width: 1px;">
                                        <a href="/bbs_forcomplain"><img
                                                src="/images/bbs_board.png"
                                                alt="" align="left"></a></div>
                                    <dl style="margin-left: 1px;">
                                        <dt>投诉</dt>
                                    </dl>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-md-2">
            <#include "sidebar.html"/>
        </div>
    </div>
</div>