<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="/bootstrap.css">
    <link rel="stylesheet" href="/bootstrap-theme.css">
    <script src="/bootstrap.js"></script>
</head>

<body>

<div class="container">
    <div class="row clearfix">
        <div class="col-md-12 column">
            <div style="text-align: center;">
                <h1><i><b>错误!!!<br></b></i></h1><p><i><br></i></p><p><br></p><br/>
                <img src="/images/forerror.gif"/>
            </div>

        </div>
    </div>
</div>


</body>
</html>
